@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Montserrat-700.woff2') format('woff2'),
    url('../fonts/Montserrat-700.woff') format('woff');
}

@font-face {
    font-family: 'Greta';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/GretaDisplayPro-Regular.woff2') format('woff2'),
    url('../fonts/GretaDisplayPro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto-regular.woff') format('woff');
}
