/* Vars:
   ========================================================================== */





// Font


// Main color
$dark-blue: #231651;
$white: #ffffff;
$black: #000000;
$green: #4DCCBD;
$yellow: #FEE465;
$purple: #9394DC;


// Colors
$primary-text-color: $white;
$secondary-text-color: $dark-blue;
$header-bg: $dark-blue;
$button-primary-color: $dark-blue;
$button-secondary-color: $green;
$main-background-color: $dark-blue;
$slider-indicators-color: $green;
$order-text-color: $green;
$blank-bg: $yellow;
$code-bg: $purple;
$candy-bg: $green;
$article-time-color: $green;
$footer-color: $white;

// Size
$max-width: 1300px;






// retina

